*{
    margin: 0;
    padding: 0;
    background-color: rgb(223, 185, 236); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: white; */
}
#nav ul{
    display: flex;  
    text-align: center;
    
}
ul li{
    font-size: 20px;
    list-style-type: none;
    letter-spacing: normal;
    padding: 0 10px;
    
}
ul li a{
    text-decoration: none;
}

/* ===============form style start here-======================================== */
.grid-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    width: 40%;
    background-color: rgb(85 26 139);
    place-items: center;
    border-radius: 7px;
    margin-bottom: 50px;
    padding: 12px;
}
form{
 margin-top: 20px;
background-color: rgb(85 26 139);
 padding: 12px;
 margin-left: auto;
 margin-right: auto;
}
form h2{
    background-color: rgb(85 26 139);;
    text-align: center;
    font-size: 30px;
    padding-bottom: 5px;
    color: white;
}
form p, i{
     background-color: rgb(85 26 139);;
     color: white;
}
form a{
    background-color: rgb(85 26 139);
    color: white;
}
label{
    text-align: left;
    background-color: rgb(85 26 139);;
    color: white;
    
}
input{
  width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 5px;
    box-sizing: border-box;
}
select{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 5px;
}
p{
    text-align: center;
}
.submit{
    background: none; 
}


@media (max-width: 320px) { 
    .grid-container{
        width: 80%;
    }
  }
  @media (max-width: 768px){
    .grid-container{
        width: 80%;
    }
  }
/* ===============form style end here-======================================== */
